#ItemDetail
    #modal_item_dialog
        #modal_item_content
            .row
                .col-md-12
                    #modal_item_header
                        h3 Retro Bike
                        span#modal_footer
                            span.glyphicon.glyphicon-time
                            | 2days
                            span.glyphicon.glyphicon-eye-open
                            | 86
                            span.glyphicon.glyphicon-heart-empty
                            | 122
                    div(style='height:10px;')
                .col-md-9
                    #modal_item_div
                .col-md-3
                    #profile
                        #photo
                            img(src='')
                        p#name
                            | Mehdi Zarandi
                    div(style='height:10px;')
                    #down_to_profile
                .col-md-12
                    div(style='height:10px;')
                    #modal_item_details
                        p#text
                            | Totally restored retro fixi-bike with premium parts, no gear, 28” aluminium city tires, Brooks vintage saddle, Retro paddles, all aluminimum parts.
                        button#btn_interested.btn.btn-wide.btn-primary.mrm  I'm interested
                        span#footer Bike  Retro  Brooks  Fixi  Vintage
                    div(style='height:10px;')
                    #conversation
                        #chat_container
                            #bg
                             #chat
                             form#send-message
                                 input#message(size='35')
                                 input(type='submit')
                             #users
                        #control_group
                            .input-group
                                span.input-group-btn
                                    button#camera.btn.btn-default.btn(type='button')
                                        span.glyphicon.glyphicon-camera
                                input#msg.form-control(type='text', placeholder='Type your message here...')
                                input#file(type='file')
                            button#send.btn.btn-embossed.btn-primary(type='button')
                                | Send
                    #right_to_conversation

