form#UploadForm(method='post', enctype='multipart/form-data')
    input#image(type='file', name='image0', accept='image/*') image
    input(type='text', name='title') title
    input(type='text', name='description') description
    input(type='text', name='price') price
    input(type='text', name='Lat') Lat
    input(type='text', name='Lng') Lng
    input(type='submit')
output#list
