button(id="createTest")
    | Create Test
button(id="updateTest")
    | Update Test
button(id="findTest")
    | Find Test
button(id="newJob")
    | New Job
button(id="testAnalytics")
    | test analytics
button(id="testChart")
    | Test Chart
.container
    .row
        col-md-12
            col-md-4
                div(id="canvasArea", width="200", height=300)
                    canvas(id="blabla", width="20%", height="20%")
            col-md-4
                div(id="canvasArea2", width="200", height=300)
                    canvas(id="blabla2")
            col-md-4
                div(id="canvasArea3", width="200", height=300)
                    canvas(id="blabla3")
    .row
        col-md-12
            col-md-4
                div(id="canvasArea4", width="200", height=300)
                    canvas(id="blabla4")
            col-md-4
                div(id="canvasArea5", width="200", height=300)
                    canvas(id="blabla5")
            col-md-4
                div(id="canvasArea6", width="200", height=300)
                    canvas(id="blabla6")
div(id="jobs")
div(id="analytics")
